.manage-doctor-container {
    padding: 0 20px;

    .save-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background-color: #ebce2e;
        color: white;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .create-content-doctor{
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background-color: #0071ba;
        color: white;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .more-info {
        display: flex;
        gap: 15px;

        .content-left {
            width: 40%;
            label {
                margin-top: 5px;
            }
        }

        .content-right {
            width: 60%;
        }
    }
}