.home-header-container {
  height: 80px;
  width: 100%;
  padding: 0 20px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;

  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex; //cung 1 hang row
    .left-content {
      width: 25%;
      display: flex;
      align-items: center;
      // border: firebrick 2px solid;

      .header-logo {
        background: url(../../assets/logo.svg) center center no-repeat;
        height: 80%;
        width: 75%;
        cursor: pointer;
        margin-left: 15px;
      }

      i {
        margin-left: 15px;
        font-size: 25px;
        cursor: pointer;
      }
    }

    .center-content {
      //border: forestgreen 2px solid;

      width: 50%;
      display: flex;
      //justify-content: space-between;
      align-items: center;
      .show {
        justify-content: space-around;

        .child-content {
          cursor: pointer;

          .subs-title {
            font-size: 12px;
            font-weight: 400;
            cursor: pointer;
          }
        }
      }
    }

    .right-content {
      //border: fuchsia 2px solid;
      width: 25%;
      display: flex;
      align-items: center;
      //justify-content: flex-end;
      .show {
        justify-content: space-around;
      }
      i {
        font-size: 20px;
        cursor: pointer;
      }

      .language {
        //border: rgb(99, 0, 247) 2px solid;
        display: flex;

        .language-vi {
          cursor: pointer;
          opacity: 0.5;
          margin: 0 10px;
          &.active {
            color: red;
            opacity: 1;
          }

          &.hover {
            opacity: 1;
          }
        }

        // .languge-vi & .active

        .language-en {
          //margin: 0 10px;
          cursor: pointer;
          opacity: 0.5;

          &.active {
            color: blue;
            opacity: 1;
          }

          &.hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .home-header-container {
    .home-header-content {
      .center-content {
        display: inline;
        .show {
          margin-left: 10px;
        }
      }
    }
  }
}
.home-header-banner {
  background: url("../../assets/header-background-2.jpg");
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  .content-up {
    height: 80%;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(255, 255, 255, 0.1)
    );

    .title-1 {
      text-align: center;
      font-size: 30px;
      color: white;
      text-shadow: 1px 1px 1px #333;
      margin-bottom: 15px;
      margin-top: 90px;
    }

    .title-2 {
      font-weight: bold;
      text-align: center;
      font-size: 30px;
      color: white;
      text-shadow: 1px 1px 1px #333;
    }

    .search {
      // width: fit-content;
      display: flex;
      justify-content: center;
      width: fit-content;
      margin: 15px auto;
      align-items: center;
      padding: 10px;
      // width: 450px;
      border-radius: 30px;
      background: #f7d800;
      margin-top: 60px;
      i {
        margin: 0 5px;
      }

      input[type="text"] {
        height: 30px;
        width: 400px;
        background: transparent;
        border: none;
        outline: none;
      }
    }

    .search-results {
      position: absolute;
      background-color: #fff;
      // display: block;
      // justify-content: center;
      width: 425px;
      margin: 35px auto;
      // align-items: center;
      border-radius: 10px 5px 5px 10px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      max-height: 300px;
      overflow-y: auto;
      left: 40%;
      top: 35%;
      // transform: translate(-50%, -38%);
    }

    .search-results::-webkit-scrollbar {
      width: 8px; /* chiều rộng của thanh cuộn */
      border-radius: 15px; /* đặt border-radius cho thanh cuộn */
    }

    .search-results::-webkit-scrollbar-track {
      background-color: #f2f2f2; /* màu nền của thanh cuộn */
      border-radius: 15px; /* đặt border-radius cho thanh cuộn */
    }

    .search-results::-webkit-scrollbar-thumb {
      background-color: #ccc; /* màu của thanh cuộn */
      border-radius: 15px; /* đặt border-radius cho thanh cuộn */
    }

    .result {
      padding: 10px;
      border-bottom: 1px solid rgb(235, 224, 224);
      font-size: 22px;
      font-weight: 400;
      cursor: pointer;
    }
  }

  .content-down {
    // height: 20%;
    // padding: 0 400px;
    // display: flex;
    // align-items: flex-end;
    // justify-content: center;
    // background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
    display: flex;
    align-items: end;
    height: 40%;
    justify-content: center;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 1)
    );
    flex-wrap: wrap;
    //border: rgb(72, 247, 3) solid 2px;

    .options {
      text-align: center;
      display: flex;
      //grid-gap: 30px;
      justify-content: center;

      .option-child {
        //border: firebrick solid 2px;

        width: 200px;
        // margin: 250px 30px;
        margin-bottom: 60px;

        .icon {
          background: white;
          width: 60px;
          height: 60px;
          padding: 10px;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto;
          font-size: 25px;
          color: #49bce2;
        }

        .text {
          font-size: 17px;
          font-weight: 600;
          cursor: pointer;

          &:hover {
            color: #49bce2;
          }
        }
      }
    }
  }
}
@media (max-width: 1220px) {
  .home-header-banner {
    .content-down {
      align-items: center;
      .options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .option-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 645px) {
  .home-header-banner {
    .content-up {
      .search {
        width: 250px;
      }
    }
    .content-down {
      align-items: center;
      .options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .option-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
