.home-header-container {
    height: 80px;
    width: 100%;
    padding: 0 20px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex; //cung 1 hang row

        .left-content {
            width: 25%;
            display: flex;
            align-items: center;

            .header-logo {
                background: url(../../assets/logo.svg) center center no-repeat;
                height: 80%;
                width: 80%;
                cursor: pointer;
                margin-left: 5px;
            }

            i {
                font-size: 25px;
                cursor: pointer;
            }
        }

        .center-content {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                cursor: pointer;

                .subs-title {
                    font-size: 12px;
                    font-weight: 400;
                    cursor: pointer;
                }
            }
        }

        .right-content {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            i {
                font-size: 20px;
                cursor: pointer;
            }

            .support {
                padding-right: 50px;
                display: flex;
                align-items: center;
            }

            .language-vi {
                cursor: pointer;
                opacity: 0.5;

                &.active {
                    color: red;
                    opacity: 1;
                }

                &.hover {
                    opacity: 1;
                }
            }

            // .languge-vi & .active

            .language-en {
                margin: 0 10px;
                cursor: pointer;
                opacity: 0.5;

                &.active {
                    color: blue;
                    opacity: 1;
                }

                &.hover {
                    opacity: 1;
                }
            }
        }
    }
}

.home-header-banner {
    background: url("../../assets/header-background.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;


    .content-up {
        height: 80%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));

        .title-1 {
            text-align: center;
            font-size: 30px;
            color: white;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 15px;
            margin-top: 120px;
        }

        .title-2 {
            text-align: center;
            font-size: 30px;
            color: white;
            text-shadow: 1px 1px 1px #333;
        }

        .search {
            // width: fit-content;
            display: flex;
            justify-content: center;
            width: fit-content;
            margin: 15px auto;
            align-items: center;
            padding: 10px;
            // width: 450px;
            border-radius: 30px;
            background: #f7d800;

            i {
                margin: 0 5px;
            }

            input {
                height: 30px;
                width: 400px;
                background: transparent;
                border: none;
                outline: none;
            }
        }
    }

    .content-down {
        height: 20%;
        padding: 0 400px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

        .options {
            text-align: center;
            display: flex;
            grid-gap: 30px;
            justify-content: center;


            .option-child {
                width: 200px;
                // margin: 250px 30px;
                margin-bottom: 60px;

                .icon {
                    background: white;
                    width: 60px;
                    height: 60px;
                    padding: 10px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;
                    font-size: 25px;
                    color: #49bce2;
                }

                .text {
                    font-size: 17px;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        color: #49bce2;
                    }
                }
            }
        }
    }

}